<div id="qz-wrapper">
  <div id="qz-content">
    <div class="lp-section-1">
      <!-- <div class="content-1"> -->
        <div id="myCarousel", class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li class="item1 active"></li>
            <li class="item2"></li>
            <li class="item3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="https://www.lego.com/r/www/r/portals/-/media/images/home/mainstages/shared/2017/speed-champions/s8_mainstage_sc_1hy17_1920x512_v2_b_clean.jpg?l.r=-735532042" alt="">
            </div>

            <div class="item">
              <img src="https://www.lego.com/r/www/r/portals/-/media/images/home/mainstages/shared/2017/star-wars/lsw_1hy17-mainstage-trenchrun.jpg?l.r=-1429899800" alt="">
            </div>

            <div class="item">
              <img src="https://www.lego.com/r/www/r/portals/-/media/images/home/mainstages/shared/2017/campaign/sw.jpg?l.r=-1992346301" alt="">
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    <!-- </div> -->
  </div>



    <div class="lp-section-2 clearfix">
      <div class="content-2">
        <div class="short-line"></div>
          <h2> Our Best Sellors </h2>
        <div class="productList">
          <div class="productList-item">
            <a href="/products?category=technic">
              <img src="https://lc-imageresizer-live-s.legocdn.com/resize?width=336&imageUrl=https%3a%2f%2flc-www-live-s.legocdn.com%2fr%2fwww%2fr%2fcatalogs%2f-%2fmedia%2fcatalogs%2fthemes%2ffranchises%2ftheme%2520cards%25202017%2flbm_2hy2016_legodotcom_336x448.jpg%3fl.r2%3d1750917794" alt="">
            </a>
          </div>
          <div class="productList-item">
            <a href="/products?category=marvel">
              <img src="https://lc-imageresizer-live-s.legocdn.com/resize?width=336&imageUrl=https%3a%2f%2flc-www-live-s.legocdn.com%2fr%2fwww%2fr%2fcatalogs%2f-%2fmedia%2fcatalogs%2fthemes%2ffranchises%2ftheme%2520cards%25202017%2fsuperheroes_marvel_1hy2017_legodotcom_336x448.jpg%3fl.r2%3d-532172539" alt= "Marvel Super Heroes"/>
            </a>
          </div>
          <div class="productList-item">
            <a href="/products?category=starwar">
              <img src="https://lc-imageresizer-live-s.legocdn.com/resize?width=336&imageUrl=https%3a%2f%2flc-www-live-s.legocdn.com%2fr%2fwww%2fr%2fcatalogs%2f-%2fmedia%2fcatalogs%2fthemes%2ffranchises%2ftheme%2520cards%25202016%2fstarwars_2hy2016_legodotcom_336x448.jpg%3fl.r2%3d1040656027" alt="Star War"/>
            </a>
          </div>
          <div class="productList-item">
            <a href="/products?category=technic">
              <img src="https://lc-imageresizer-live-s.legocdn.com/resize?width=336&imageUrl=https%3a%2f%2flc-www-live-s.legocdn.com%2fr%2fwww%2fr%2fcatalogs%2f-%2fmedia%2fcatalogs%2fthemes%2ffranchises%2ftheme%2520cards%25202016%2ftechnic_2hy2016_legodotcom_336x448.jpg%3fl.r2%3d-140207987" alt="Technic"/>
            </a>
          </div>
          <div class="productList-item productList-lastItem">
            <a href="/products?category=speed">
              <img src="https://lc-imageresizer-live-s.legocdn.com/resize?width=336&imageUrl=https%3a%2f%2flc-www-live-s.legocdn.com%2fr%2fwww%2fr%2fcatalogs%2f-%2fmedia%2fcatalogs%2fthemes%2ffranchises%2ftheme%2520cards%25202017%2fspeed_champion_1hy2017_legodotcom_336x448.ashx%3fl.r2%3d-324732037" alt="LEGO® Speed Champions">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="lp-content-3 clearfix">
      <div class="content-3">
        <div class="serviceList">
          <div class="serviceList-item bg-color2">
            <div class="tour-1" ></div>
            <div class="service-box" >
              <div class="btn-block">
                <a class="action-btn" href="/products?category=new"> WHAT'S NEW </a>
              </div>
            </div>
          </div>

          <div class="serviceList-item bg-color3">
            <div class="tour-2"></div>
              <div class="service-box" >
                <div class="btn-block">
                  <a class="action-btn" href="/products?category=sale"> SALES AND DEALS </a>
                </div>
              </div>
          </div>

          <div class="serviceList-item bg-color4">
            <div class="tour-3"></div>
              <div class="service-box" >
                <div class="btn-block">
                  <a class="action-btn" href="/products?category=exclusive"> EXCLUSIVES </a>  
                </div>
              </div>
          </div>

          <div class="serviceList-item bg-color5 serviceList-lastItem">
            <div class="tour-4"></div>
              <div class="service-box" >
                <div class="btn-block">
                  <a class="action-btn" href="/products?category=brick"> PICK A BRICK </a>
                </div>
              </div>
          </div>
        </div>

      </div>
    </div>


    <div class="lp-section-bottom clearfix">
      <div class="bottom-content">
        <div class="bottom-content">
          <p>HAVE FUN WITH OUR BRICKS</p>
          <div>
            <a class="action-btn" href="/pages/course_intro"><span>SHOP NOW</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
